body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1375px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Ninastech, e uma agência que visa trazer informações e conhecimento para meninas brasileiras que desejam trabalhar em com tecnologia. */

.header {
  border: 40px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 120%;
  background:rgba(161, 159, 159, 0.5);
  box-sizing: border-box;
}

.textAndImage {
  display: flex;
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 30;
  font-size: 20px;
  color: #000000;
  box-sizing: border-box;
}

.ninastechLogo{
  width: 200px;
  height: 150px; 
}

.homePage .ninastechLogo {
  width: 300px;
  height: 200px; 
}

h2 {
  font-family: 'Courier Prime';
}
h3{
  font-family: 'Courier Prime';
}

.desenho1 {
  width: 358px;
  height: 350px;
}

.buttonAndImg {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mac {
  width: 387px;
  height: 287px;
}

.blocks-pictures {
  display: flex;
  flex:1;
  flex-direction: row;
  margin: 7px;
  column-gap: 15px;
  
}

.blocks-names {
  display: flex;
  flex:1;
  flex-direction: row;
  margin: 30px;
  column-gap: 100px;
 
}

.nina-picture {
  width: 378px;
  height: 290px;
}



.cliqueAqui {
  font-family: 'Courier Prime';
  text-align: center;
  
}