.display-flex {
  display: flex;
  align-items: center;

}
.flex1 {
  flex:1; 
}
.display-flex-direction {
  flex-direction: column;
}


.ninastechLogo {
  width: 181px;
  height: 170px; 
  margin: 82px;
}

.outra {
  width: 360px;
  height: 430px; 
}

.voltar {
  border-radius: 30px;
  background-color: #e49bbe;
  border: 150px;
  color: #0e0d0d;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  box-sizing: border-box;
  height: 60.44px;
  background: #f8a4cd;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin: 48px;
 
  }

  .usuarios {
    width: 500px;
    height: 300px;
  
  }

  .nome-profissao {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #000000;
    width: 450px;
    height: 55px;
    background: #F49BB0;
    box-sizing: border-box;
    border: 2px solid #000000;
    transform: rotate(-0.01deg);
    margin: 30px;
  }

.box-text {
  background: #FFF5FA;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #000000;
  width: 476px;
  height: 261px;
}

h3 {
  font-family: 'Courier Prime';
}
